<section class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <%= image_tag @anime.cover %>
      <p class="title"><%= @anime.name %></p>
      <p class="subtitle">Lançamento: <%= @anime.release_date.strftime("%d/%m/%Y") %></p>
      <p class="subtitle">Status: <%= @anime.status.humanize %></p>
      <% if @anime.finish_date %>
        <p class="subtitle">Finalizado em: <%= @anime.finish_date.strftime("%d/%m/%Y") %></p>
      <% end %>
      <p class="subtitle"><%= @anime.description %></p>
      <hr>
      <% if current_user %>
        <div class="field is-grouped is-grouped-centered">
          <p class="control">
            <% if current_user.favorite_animes.find_by(anime: @anime) %>
              <%= link_to icon("fas fa-2x", "star", class: "has-text-warning"), anime_favorite_anime_path(@anime.id, current_user.favorite_animes.find_by(anime: @anime)), method: :delete %>
            <% else %>
              <%= link_to icon("far fa-2x", "star", class: "has-text-warning"), anime_favorite_animes_path(@anime.id), method: :post %>
            <% end %>
          </p>
          <p class="control">
            <% if current_user.follow_animes.find_by(anime: @anime) %>
              <%= link_to icon("fas fa-2x", "thumbs-up", class: "has-text-info "), anime_follow_anime_path(@anime.id, current_user.follow_animes.find_by(anime: @anime)), method: :delete %>
            <% else %>
              <%= link_to icon("far fa-2x", "thumbs-up", class: "has-text-info "), anime_follow_animes_path(@anime.id), method: :post %>
            <% end %>
          </p>
        </div>
      <% end %>          
    </div>
  </div>
</section>