<div class="table-container">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th class="has-text-centered">Cover</th>
        <th class="has-text-centered">Nome</th>
        <th class="has-text-centered">Status</th>
        <th class="has-text-centered">Release Date</th>
        <th class="has-text-centered">Finish Date</th>
      </tr>
    </thead>

    <tbody>
      <% @favorites.each do |favorite| %>
        <tr>
          <td class="has-text-centered"> <a href="<%= anime_path(favorite.anime) %>"><%= image_tag favorite.anime.cover, size: "70x70" %></a></td>
          <td class="has-text-centered"><%= favorite.anime.name %></td>
          <td class="has-text-centered"><%= favorite.anime.status %></td>
          <td class="has-text-centered"><%= favorite.anime.release_date %></td>
          <td class="has-text-centered"><%= favorite.anime.finish_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @favorites.blank? %>
  <p class="title is-4 has-text-info has-text-centered">Nenhum anime aqui :(</p>
<% end %>