<div class="section">
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <h2 class="title">Entrar</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, class: "label" %><br />
          <%= f.email_field :email, autocomplete: "email", class: "input is-primary" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "label" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "input is-primary" %>
        </div>

        <div class="field is-grouped is-grouped-centered">
          <p class="control">
            <%= f.submit "Entrar", class: "button is-primary" %>
          </p>
          <p class="control">
            <%= link_to "Não possui uma conta?", new_user_registration_path, class: "button is-warning" %>
          </p>
          <p class="control">
            <%= link_to "Voltar", root_path, class: "button is-outlined" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
